@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
